@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

* {
    margin: 0;
    padding: 0;
}

.h2title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    /* or 100% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #181818;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
    max-width: 1160px;
    margin: 0 auto;
}

.title {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title_head {
    width: 804px;
    height: 128px;
    left: 318px;
    top: 184px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    /* or 100% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #181818;
}

.title_body {
    margin-top: 40px;
    width: 484px;
    height: 48px;
    left: 478px;
    top: 352px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    color: #000000;
}

.menu {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;


}

.menu_font {
    width: 66px;
    height: 24px;;
    font-family: 'Raleway';
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}


.developer {
    box-sizing: border-box;

    /* Auto layout */
    margin-top: 42px;
    margin-left: 148px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;

    width: 122px;
    height: 56px;
    left: 140px;
    top: 38px;

    border: 2px solid #000000;
    border-radius: 8px;
}

.developer_name {
    width: 93px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-transform: uppercase;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.link {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 16px;


}

.link_telegram {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: -15px 24px 17px;
    gap: 8px;

    width: 215px;
    height: 56px;

    background: #181818;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.link_portfolio {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 12px;

    width: 221px;
    height: 56px;

    border: 2px solid #181818;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.link_portfolio_text {
    width: 137px;
    height: 24px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.link_telegram_text {
    /* Связаться в Telegram */


    width: 169px;
    height: 24px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.variations {
    margin-top: 151px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 17px;
}

.variations_all {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;

    width: 62px;
    height: 32px;

    background: #181818;
    border-radius: 10000px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.variations_developer {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 8px;

    width: 123px;
    height: 32px;

    border: 1px solid #000000;
    border-radius: 10000px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.variations_key {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 8px;

    width: 146px;
    height: 32px;

    border: 1px solid #000000;
    border-radius: 10000px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.variations_design {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 8px;

    width: 91px;
    height: 32px;

    border: 1px solid #000000;
    border-radius: 10000px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.variations_all_link {
    margin: 0 auto;
    width: 30px;
    height: 24px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.variations_key_link {
    width: 114px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.variations_developer_link {
    width: 91px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.variations_design_link {
    width: 59px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.images {
    /* Frame 10 */


    box-sizing: border-box;

    /* Auto layout */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
    max-width: 1160px;
}

.images_full {
    box-sizing: border-box;

    height: 460px;
    width: 1160px;
    border: 1px solid #DBDBDB;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.img4 {
    flex: none;
    order: 3;
    flex-grow: 0;
}

.img1 {
    flex: none;
    order: 1;
    flex-grow: 0;
}

.img3 {
    flex: none;
    order: 4;
    flex-grow: 0;
}

.img2 {
    flex: none;
    order: 2;
    flex-grow: 0;
}

.images_container { /* Frame 8 */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 1160px;
    height: 400px;


    /* Inside auto layout */

}

.images_split {
    box-sizing: border-box;

    width: 560px;
    height: 400px;
    background: url(image.png);
    border: 1px solid #DBDBDB;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 96px;

}

.author_img {
    width: 400px;
    height: 560px;
    left: 297px;
    top: 2840px;
    border-radius: 24px;
}

.author_text_name {
    margin-left: 43px;
    margin-top: 64px;
    width: 478px;
    height: 64px;
    left: 740px;
    top: 2918px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;

    color: #181818;
}

.author_text_description {
    margin-left: 43px;
    margin-top: 24px;

    width: 484px;
    height: 168px;
    left: 740px;
    top: 3006px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #000000;
}

.author_text_additional {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 46px;
    height: 88px;
    left: 1034px;
    top: 3238px;
}

.author_text_additional_stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -24px;
    padding: 64px;
    gap: 16px;

    width: 90px;
    height: 88px;
    left: 1034px;
    top: 3238px;
}

.author_text_additional_stats_number {
    width: 41px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.author_text_additional_stats_description {
    width: 87px;
    height: 48px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.services {
    display: flex;
    flex-direction: column;
    margin-top: 112px;
    width: 1160px;
    height: 768px;
    top: 3512px;

    background: #181818;
}

.services_title {
    margin-top: 120px;
    margin-bottom: 80px;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.services_price {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 384px;
    justify-content: center;
    gap: 28px;

}

.services_price_object_line {
    width: 80px;
    height: 0px;

    opacity: 0.2;
    border: 1px solid #181818;

    /* Inside auto layout */
    margin-top: 88px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.services_price_object {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 40px;
    gap: 8px;
    width: 288px;
    height: 304px;

    background: #FFFFFF;
    border-radius: 16px;
}

.services_price_object_name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */


    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.services_price_object_number {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;

    opacity: 0.5;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.services_price_object_description {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.services_price_object_cost {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator_title {
    margin-top: 120px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;

    color: #181818;
}

.calculator_body {
    box-sizing: border-box;

    /* Auto layout */
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 24px;
    gap: 8px;

    width: 448px;
    height: 368px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.calculator_body_type {
    width: 400px;
    height: 48px;


    background: #FFFFFF;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.calculator_body_size {
    margin-top: 24px;
    width: 400px;
    height: 48px;

    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
}


.calculator_body_checkbox {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;

    width: 363px;
    height: 48px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.calculator_body_checkbox_box {
    /* Frame 792 */
    width: 16px;
    height: 20px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.calculator_body_checkbox_title {
    width: 331px;
    height: 48px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.calculator_body_type_option {
    font-family: 'Raleway';
    font-style: normal;
}

.calculator_body_size_option {
    font-family: 'Raleway';
    font-style: normal;
}

.calculator_body_checkbox_title2 {
    width: 331px;
    height: 48px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #181818;

}

.calculator_button {
    box-sizing: border-box;

    /* Auto layout */
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;

    width: 400px;
    height: 56px;

    border: 2px solid #181818;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #181818;
}

.calculator_answer {
    box-sizing: border-box;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    padding: 40px 24px;
    gap: 24px;

    width: 400px;
    height: 384px;


    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 16px 16px;
}

.calculator_answer_title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 64px;
    /* identical to box height, or 200% */

    letter-spacing: -0.02em;

    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.calculator_answer_price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.calculator_answer_price_title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.calculator_answer_price_number {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */


    color: #181818;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.calculator_answer_price_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;

    width: 352px;
    height: 56px;

    background: #181818;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
}